<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="icon" href=<%= htmlWebpackPlugin.options.favicon %>>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="google-site-verification" content="f8DrlJBXxsEZXiypmM2cRB3SKdJ6C5O3M_zZQhe7PGk" />
    <meta name="description" content="Come and see the works of the Drop Bear Army." />

    <base href=<%= htmlWebpackPlugin.options.baseUrl %>>
</head>

<body>
    <div id='app'></div>
</body>

</html>